<footer class="footer">
    <div class="footer__items">
       <h3 class="items__title">Tienda</h3>
       <span class="items__span">
        Productos
        Cajoneras
        Para toda la casa 
        Habitaciones
       </span>
     
    </div>
    <div class="footer__items">
        <h3 class="items__title">Nosotros</h3>
        <span class="items__span"> 
        Nuestra guía 
        Nuestro diseño 
        Nuesta historia 
        Ayuda   
        </span>
      
      
    </div>
    <div class="footer__items">
        <h3 class="items__title">Contacto</h3>
        <span>
        ayuda@openspaces.com 
        Socios    
        </span>
    
    </div>
    
    <div>
      ICONOS LONKEDIN INSTAGRAM TWITTER  
    </div> 
    </footer>