<header class="header"> 
  <div class="wrap">
    <section class="section-nav">
      <nav class="section-nav__menu">
        <a class="section-nav__menu__burguer" href="https://adalab.es"><i class="fa-solid fa-bars"></i></a>
      </nav>
    </section> 

    <section class="section-menu">
      <nav class="section-menu__menu">
      <ul class="section-menu__menu__list" > <!-- Ocultar elemento-->
        <li class="section-menu__menu__list__items"><a href="#">Productos</a></li>
        <li class="section-menu__manu__list__items"><a href="#">Colecciones </a></li>
        <li class="section-menu__menu__list__items"><a href="#">Tienda</a></li>
        <li class="section-menu___menu__list__items"><a href="#">Inicio </a></li>
      </ul> 
    </nav>
    </section>
    
  <section class="section-logo" >

    <img src="./assets/images/logo.png" alt="Professional Logo" class="section-logo-image" >

   </section>  

   <section class="section-text">
    
    <h2 class="section-text__title">Disfruta creando espacios</h2>
  
    <input class="section-text__button" value="Comprar ahora"/>
</section>
 

 </header>
