<header class="header"> 
  <div class="wrap">
    <section class="section-nav">
      <nav class="section-nav__menu">
        <a class="section-nav__menu__burguer" href="https://adalab.es"><i class="fa-solid fa-bars"></i></a>
      </nav>
    </section> 
    
  <section class="section-logo" >

    <img src="./assets/images/logo.png" alt="Professional Logo" class="section-logo-image" >

   </section>  

   <section class="section-text">
    
    <h2 class="section-text__title">Disfruta creando espacios</h2>
  
    <input class="section-text__button" value="Comprar ahora"/>
</section>
 

 </header>
