<header class="header"> 
    <nav class="header-container">
      <div class="header__nav__logo">
        <img src="./assets/images/logo.png" alt="Professional Logo" class="logo">
      </div>

      <div class="header__nav__menu">
        <input type="checkbox" id="check">
            <label for="check" class="bar-button">
                <i class="fas fa·bars"></i>
            </label>
            <ul class="list-nav">
                <li class="item-nav"><a href="#">Productos</a></li>
                <li class="item-nav"><a href="#">Colecciones </a></li>
                <li class="item-nav"><a href="#">Tienda</a></li>
                <li class="item-nav"><a href="#">Inicio </a></li>
            </ul>
      </div>
    </nav>
 </header>

 <!-- preguntar mañana por si podemos meter un menu hamburguesa en un div aparte-->