<main>

    <section class="section1">
        <h2 class="section1__title">Disfruta creando espacios</h2>
        <div class="button">
            <input class="button__buy" type="submit" value="Comprar ahora" />
        </div>
    </section>
   

    <section class="section2">
        <div>
            <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
        </div>

        <div>
        <img src="./assets/images/icon_1.png" alt="icon of a table with objects">
        <h3>Lo que necesitas </h3>
        <p>Una línea de productos diseñados para todos tus espacios</p>
        </div>

        <div>
        <img src="./assets/images/icon_2.png" alt="icon of a recycling bag">
        <h3>Materia primas sustentables</h3>
        <p>Una línea de productos diseñados para todos tus espacios</p>
        </div>

        <div>
        <img src="./assets/images/icon_3.png" alt="">
        <h3>Guía </h3>
        <p>Soporte y asesoramiento para ayudarte con yu objetivo </p>
        </div>
          
    </section>



    
    
   
    
    img 
    Envío gratis garantizado 
    Envío gratis en compras desde 100
    Compra ahora 
    
    Disfruta creando espacios
    Una lñinea de productos diseñados para todos tus espacios
    BOTÓN Comprar ahora
      </main>