<main>

    <section class="section1">
        <h2 class="section1__title">Disfruta creando espacios</h2>
        <div class="button">
            <input class="button__buy" type="submit" value="Comprar ahora" />
        </div>
    </section>
   

    <section class="section2">
        <div>
            <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
        </div>

        <div>
        <img src="./assets/images/icon_1.png" alt="icon of a table with objects">
        <h3>Lo que necesitas </h3>
        <p>Una línea de productos diseñados para todos tus espacios</p>
        </div>

        <div>
        <img src="./assets/images/icon_2.png" alt="icon of a recycling bag">
        <h3>Materia primas sustentables</h3>
        <p>Una línea de productos diseñados para todos tus espacios</p>
        </div>

        <div>
        <img src="./assets/images/icon_3.png" alt="icon of a counselling poster">
        <h3>Guía</h3>
        <p>Soporte y asesoramiento para ayudarte con yu objetivo </p>
        </div>
          
    </section>



    <section class="section3">
        <img src="./assets/images/icon_4.png" alt="icon of a delivery van">
    <h4>Envío gratis garantizado </h4>
    <p>Envío gratis en compras desde 100</p>
    <p>Comprar ahora</p>
     
    </section>

    <section class="section4">
        <div>
         <h2>Disfruta creando espacios</h2>
         <p>Una linea de productos diseñados para todos tus espacios</p>

         <div>
            <div class="button">
                <input class="button__buy" type="submit" value="Comprar ahora" />
            </div>
         </div>
    </div>
    <div>
        <img src="./assets/images/creando-espacios.jpg" alt="image of a home bathroom">
    </div>
    </section>
   
      </main>