footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  background-color: #0c474b;
  font-family: "Poppins", roboto;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.container1 {
  &__items {
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 70.33%;
    @media (min-width: 768px) {
      margin-left: 50px;
      width: 150.33%;
    }

    @media (min-width: 1200px) {
      margin-left: 80px;
    }

    &__title {
      color: #b6c8c9;
      font-size: 20px;
    }

    &__link {
      font-size: 14px;
      list-style: none;
      color: #b6c8c9;

      &__p {
        font-size: 14px;
        color: #b6c8c9;
        list-style: none;
        text-decoration: none;
      }
    }

    &__icon {
      color: white;
      width: 24px;
      height: 26px;
      display: flex;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
      justify-items: center;
    }
  }
}

.container2 {
  &__items {
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-top: 56px;
    width: 70.33%;

    @media (min-width: 768px) {
      margin-right: 80px;
      margin-left: 80px;
      width: 140.33%;
    }

    @media (min-width: 1200px) {
      margin-right: 150px;
      margin-left: 150px;
    }

    &__title {
      color: #b6c8c9;
      font-size: 20px;
    }

    &__link {
      font-size: 14px;
      list-style: none;
      color: #b6c8c9;

      &__p {
        font-size: 14px;
        color: #b6c8c9;
        list-style: none;
        text-decoration: none;
      }
    }

    &__icon {
      color: white;
      width: 24px;
      height: 26px;
      display: flex;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
      justify-items: center;
    }
  }
}
.container3 {
  &__items {
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 33.33%;

    @media (min-width: 768px) {
      margin-right: 50px;
    }

    @media (min-width: 1200px) {
      margin-right: 80px;
    }

    &__title {
      color: #b6c8c9;
      font-size: 20px;
    }

    &__link {
      font-size: 14px;
      list-style: none;
      text-decoration: none;
      color: #b6c8c9;

      &__p {
        font-size: 14px;
        color: #b6c8c9;
        list-style: none;
        text-decoration: none;
      }
    }

    &__icon {
      color: white;
      width: 24px;
      height: 26px;
      display: flex;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
      justify-items: center;
    }
  }
}

.container4 {
  &__icon-arrow {
    width: 24px;
    height: 24px;
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: right;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
  }
}
