header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position-y: 25%;
}

.section-nav {
  &__menu {
    &__burguer {
      width: 24px;
      height: 24px;
      margin: 36px 43px 136px 33px;
      object-fit: contain;
      position: fixed;
      color: #0c474b;
    }

    &__list {
      &__item {
      }
    }
  }
}

.section-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 19px 0 64px;
  }

  &__title {
    color: #0c474b;
    font-size: 24px;
    font-weight: 600;
    padding-top: 19px;
    padding-bottom: 10px;
  }

  &__button {
    background-color: #0c474b;
    color: #ffff;
    font-size: 16px;
    width: 176px;
    height: 48px;
    font-weight: 600;
    padding: 12px 24px;
    margin-top: 19px;
    margin-bottom: 64px;
    transition: all 0.9s;

    &:hover {
      background-color: #ff975a;
      color: white;
    }
  }
}
