header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center center;
}

.section-nav {
  &__menu {
    &__burguer {
      width: 24px;
      height: 24px;
      margin: 36px 43px 136px 33px;
      object-fit: contain;
      position: fixed;
      color: #0c474b;
    }
  }
}

.section-menu {
  display: none;
}

.section-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 19px 0 64px;
  }

  &__title {
    color: #0c474b;
    font-size: 24px;
    font-weight: 600;
    padding-top: 19px;
    padding-bottom: 10px;
  }

  &__button {
    background-color: #0c474b;
    color: white;
    font-size: 16px;
    width: 176px;
    height: 48px;
    font-weight: 600;
    padding: 12px 24px;
    margin-top: 19px;
    margin-bottom: 64px;
    transition: all 0.9s;

    &:hover {
      background-color: #ff975a;
      color: white;
    }
  }
}

/*
@media all and (min-width: 768px) {
  flex-direction: row-reverse;
  margin-left: 146px;
}
*/
@media all and (min-width: 1200px) {
  .section-menu {
    display: inline;
    flex-direction: row;
    justify-content: flex-start;
  }
  .menu-nav {
    display: inline;
    flex-direction: row;
    justify-content: flex-start;
    &__list {
      &__items {
        text-decoration: none;
        list-style: none;
        color: #0c474b;
      }
    }
  }
}
