* {
  font-family: "Poppins", roboto;
}

.container-section1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  text-align: center;
  background-color: #f0ebe5;
  color: #0c474b;
  @media all and (min-width: 768px) {
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "section1__title section1__title section1__title"
      "section1__box section1__box section1__box";
    grid-gap: 20px;
  }

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    @media all and (min-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-top: 50px;
      margin-bottom: 80px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;

    @media all and (min-width: 768px) {
      margin-top: 50px;
      margin-bottom: 86px;
    }

    &__photo {
      padding-bottom: 47px;
    }

    &__subtitle {
      font-size: 20px;
      width: 208px;
      height: 50px;
      text-align: center;
    }

    &__margin {
      margin: 10px;
    }

    &__p {
      font-size: 16px;
      width: 208px;
      height: 96px;
      text-align: center;
    }
  }
}

.section2 {
  background-color: #ff975a;
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      width: 120px;
      height: 120px;
      padding: 12.5px 4px 8px;
      margin-top: 46px;
      margin-bottom: 10px;
    }

    &__title {
      color: white;
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 10px;
      animation-duration: 3s;
      animation-delay: 2s;
    }

    &__subtitle {
      color: white;
      font-size: 14px;
      padding: 0 46px 0 51px;
    }

    &__p {
      color: white;
      font-size: 16px;
      text-decoration: underline;
      margin-top: 20px;
      margin-bottom: 51px;
    }
  }
}

.section3 {
  background-color: #f0ebe5;
  display: flex;
  align-items: center;
  justify-content: center;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      color: #0c474b;
      font-size: 24px;
      font-weight: 600;
      margin-top: 87px;
      margin-bottom: 10px;
    }

    &__p {
      color: #0c474b;
      font-size: 14px;
    }

    &__button {
      background-color: #0c474b;
      color: white;
      font-size: 16px;
      width: 176px;
      height: 48px;
      font-weight: 600;
      padding: 12px 24px;
      margin: 24px 119px 0 119px;
      margin-bottom: 92px;
      transition: all 0.9s;
      &:hover {
        background-color: rgb(245, 245, 128);
        color: #0c474b;
      }
    }
  }

  &__image {
    overflow: hidden;
    object-fit: cover;
    width: 50%;
  }
}
